
  @import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Merriweather&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    height: 500vh;
    background-color: #ffffff;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    font-family: 'Marcellus', serif;
}

header.rolagem{
    background-color: #0c3f0f;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #ffffff;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #4c975b;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border: none; 
    border-radius: 40px;
    font-family: 'Marcellus', serif;
}

.banner{
    height: 100vh;
    background-image: url(img/field-grass-landscape-farm.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.banner h1{
    font-size: 4em;
    font-family: 'Alata', sans-serif;
}

.banner h1 span{
    color: #FFAE81;
    font-family: 'Alata', sans-serif;
}